<h1>All Admins</h1>

<%= link_to "Add New Admin", "/admins/new" %>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Username</th>
      <th>Email</th>
      <th>Permission</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @admins.each do |admin| %>
      <tr>
        <td><%= admin.name %></td>
        <td><%= admin.username %></td>
        <td><%= admin.email %></td>
        <td><%= admin.permission_level %></td>
        <td>
          <%= button_to "Delete", "/admins/#{admin.id}", method: :delete, data: { confirm: "Are you sure?" } %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<% if flash[:notice] %>
  <p style="color: green"><%= flash[:notice] %></p>
<% elsif flash[:alert] %>
  <p style="color: red"><%= flash[:alert] %></p>
<% end %>
